html {
          height: 100%;
          font-family: "Roboto", sans serif;
          font-weight: 300;
}

body {
          min-height: auto;
}

.material-icons.md-light {
          color: rgba(255, 255, 255, 1);
          padding-right: 10px;
          vertical-align: middle;
  }

 nav ul .waves-effect i { display: inline; }
.full {
          min-width: 100%;
          background-color: #37474f;
}

.mobile-view { min-height: 70vh; }
.mobile-view-footer { min-height: 17vh; }
.full-large { min-height: 30vh; }
.parallax-container {
          min-height: 380px;
          line-height: 0;
          height: auto;
          color: rgba(255,255,255,.9);
  }
.button-authentication { margin-left: 20px; }
.icons {
          min-height: 200px;
          margin-top: 30px;
          height: auto;
}

.phone {
          background-image: url("../images/phone.gif");
          margin-top: 40px;
          height: auto;
          min-height: 384px;
}

/* label color */
 .input-field label {
          color: #fff;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
          color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
          border-bottom: 1px solid #fff !important;
          box-shadow: 0 1px 0 0 #fff !important;
 }
 /* valid color */
 .input-field input[type=text].valid {
         border-bottom: 1px solid #fff !important;
         box-shadow: 0 1px 0 0 #fff !important;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
         border-bottom: 1px solid #fff !important;
         box-shadow: 0 1px 0 0 #fff !important;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
         color: #fff !important;
 }
svg.valign {
        vertical-align: middle;
}

.first-form .first-row{
        margin-top: 10px;
        padding-top: 10px;
}

.full-width-wrapper {
        min-height: 450px;
        height: auto;
        background-image: url("../images/man_with_car.jpg");
        background-repeat: no-repeat;
        /*background-color: #2B2931;*/
        height: 80vh;
        background-size: cover;
        background-position: center;
}
a.footer {
        margin-left: 10px;
}
a.footer:link {
        color: #00bcd4;
}
a.footer:hover {
        color: white;
}
a.footer:visited {
        color: #b0bec5;
}
span.card-title.thick, p.setting {
        font-weight: bold;
}

#map {
        width: 100%;
        height: 100vh;
}

.full-map {
        margin-bottom: 0px;
}
footer.page-footer.map {
        margin-top: 0px;
}

#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

#infowindow-content .title {
        font-weight: bold;
      }

#infowindow-content {
        display: none;
      }

#map #infowindow-content {
        display: inline;
      }

.pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

#pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

.pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

.pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

#pac-input:focus {
        border-color: #4d90fe;
      }

#title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
#target {
        width: 345px;
      }
.one-height {
  min-height: 400px;
}

.social {
  height: 384px;
}
a.drive {
        margin-bottom: 15px;
}

.dlicens {
        width: 100%;
        height: 100vh;
}
