<!-- views for mobile and tablets -->
     <!--  <div class = "full valign-wrapper mobile-view ">
        <div class="row">
            <i class="material-icons large valign center md-light">&#xE559;</i>
             <h1 class="white-text valign"> TaxiApp </h1>
            </div>
        </div>
      </div>
      <footer class="page-footer mobile-view-footer white ">
        <div class="continer">
          <div class = "row center">
            <div class = "col s12">
              <a class="waves-effect button-authentication blue-grey darken-3 waves-light btn-large ">Sing in</a>
              <a class="waves-effect button-authentication blue-grey darken-3 waves-light btn-large ">Register</a>
            </div>
          </div>
        </div>
      </footer> -->
      <!-- end of mobile and tablets -->
